@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: "Dangrek", sans-serif;
    --font-additional: "Leckerli One", sans-serif;

    --color-text-main: rgb(255, 255, 255);
    --color-text-additional: rgb(225, 221, 232);
    --color-button-orange: rgb(255, 196, 82);
    --color-button-hover: rgb(234, 183, 84);
    --color-purple: rgb(50, 38, 75);
    --color-lilac: rgb(165, 82, 118);
    --color-lilac-background: rgb(184, 115, 144);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-size: 14px;
    color: var(--color-text-main);
    letter-spacing: 0.04em;
}

.link {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}