.header {
    background-color: var(--color-purple);
    background-image: url('/img/header-cover.png');
    background-size: cover;
    background-position: center;
    background-position-x: 63.65%, 0%;
    background-position-y: 64.75%, 0%;
}

.menu {
    display: flex;
    padding: 30px 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.menu-desktop {
    display: none;
}

.hamburger-lines {
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 8px;
}

.line {
    height: 2px;
    width: 24px;
    background-color: var(--color-text-main);
}

.header-banner-pretitle {
    font-family: var(--font-additional);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.header-banner-title {
    margin-top: 20px;
    font-family: var(--font-primary);
    font-size: 58px;
    font-weight: 400;
    line-height: 63.8px;
    text-align: left;
}

.header-banner {
    padding: 130px 24px 110px 24px;
    max-width: 1200px;
    margin: auto;
}

.header-banner-subtitle {
    margin-top: 35px;
    font-family: var(--font-menu);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-text-additional);
    text-align: left;
}

.header-banner-buttons {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.button-header {
    height: 58px;
    width: 154px;
    font-family: var(--font-buttons);
    font-size: 16.5px;
    font-weight: 700;
    color: var(--color-text-main);
    padding: 18px 35px;
    border-radius: 32px;
    margin-bottom: 20px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .header-banner {
        padding: 190px 24px 165px 24px;;
    }

    .header-banner-title {
        font-size: 69px;
    }

    .header-banner-pretitle {
        font-size: 17px;
    }
}

@media (min-width: 992px) {

    .header-banner-title {
        font-size: 80px;
    }

    .header-banner-pretitle {
        font-size: 21px;
    }

    .header-banner {
        padding: 250px 24px 220px 24px;;
    }

    .hamburger-lines {
        display: none;
    }

    .menu {
        padding: 30px 40px;
    }

    .logo {
        cursor: pointer;
    }

    .menu-desktop {
        display: flex;
        font-family: var( --font-menu);
        font-size: 17px;
        font-weight: 500;
    }

    .menu-desktop li {
        padding: 10px 17.5px;
        border-bottom: 2px solid rgb(184, 115, 144, .0);

    }

    .menu-desktop li:hover {
        border-bottom: 2px solid var(--color-lilac-background);
        cursor: pointer;
    }
}