.header {
    background-image: url('/img/header-cover.png');
}

.menu {
    display: flex;
    padding: 30px 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger-lines {
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 8px;
}

.line {
    height: 2px;
    width: 24px;
    background-color: var(--color-text-main);
}